#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 15rem;
  background-color: #03305c;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

#sidebar .nav-link {
  color: white;
}
.navicon{
  margin-top: 0.6rem;
  color: #ffd700;
  font-size: 1.3rem;
  background-color: none;
}

.reso{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.nav-link:hover{
  font-size: 18px;
  color: #ffd700;
  transition: 300ms;
  cursor: pointer;
}

.divisor{
  margin-top: 0.5rem;
  height: 1px;
  background-color: white;
  width: 10rem;
}

#main-content {
  margin-left: 16rem;
  padding: 1.2rem;
}

.titulo{
  column-gap: 5px;
  font-family: Mont;
  
}

.cor{
  color: rgb(255,215,0);
  color: linear-gradient(90deg, rgba(255,215,0,1) 0%, rgba(170,127,25,1) 54%);
}

@font-face {
  font-family: Mont;
  src: url('../assets/fontes/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

.texto{
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

@media(max-width: 1000px){
  #sidebar{
     width: 7rem;
 }
 #main-content{
   margin-left: 8rem;
 }

 .texto, .reso-texto{
   display: none;
 }

 .bi{
   font-size: 2rem;
 }

 .reso{
   width: 2rem;
   height: 2rem;
   margin-left: 1rem;
 }

 .final{
   display: flex;
   flex-direction: row;
 }

}